<div class="bg-white shadow">
  <div class="container mx-auto px-4 py-4 md:py-3">
    <div class="flex justify-between items-center">
      <div class="flex justify-between text-lg md:text-xl font-bold">
        <img class="w-8" src="../../../assets/twitter-logo.png" alt="Logo">
        <h1>Twitter</h1>
      </div>
      <div class="relative">
        <div class="w-10 h-10 cursor-pointer flex items-center justify-center rounded-full bg-blue-200 text-blue-600 leading-normal">
          F
        </div>
      </div>
    </div>
  </div>
</div>
